@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500&display=swap');


// Colour variables.
$backgroundColour: #1e1f20;
$accentColour: #0b5fce;
$accentDarkColour: hsl(255, 100%, 19%);
$shadowColour: #002E4E;
$highlightColour: #3d4044;
$textPrimary: #ffffff;

// Mixins
@mixin themePrimary {
  background-color: $backgroundColour;
  color: $textPrimary;
}

@mixin themeTransparent {
  background-color: #92969c27;
}



@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin margin {
  margin: 1% 5%;
}

@mixin padding {
  padding: 5px 10px;
}

@mixin border{
  border-radius: 4px;
}

@mixin hoverStyle {
  background-color: $highlightColour;
  transition-duration: 200ms;
  cursor: pointer;
}


// Global Stylings
body, button {
  font-family: 'Outfit', sans-serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}
html {
  background-color: $backgroundColour;
}

ul {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
// Component Stylings

.container {
  width: 100%;
}
// Navigation Bar
.brand {
  width: 100%;
  @include flexRow();
  .topbar {
    @include flexRow();
    @include margin();
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .userDetails {
      @include flexRow();
      @include padding();
      @include border();
      margin: 5px;
      button {
        @include padding();
        @include hoverStyle();
        margin: 10px;
        border: 0px;
        
      }
    }

  }

}

// Gamebar 
.gamebar-parent {

  @include margin();
  @include flexRow();
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  .allgames {
    @include themeTransparent();
    @include border();
    @include flexRow();
    align-items: center;
    justify-content: center;
    width: 5%;
    min-width: 100px;
    height: 100%;
    justify-content: flex-end;
    height: 70px;
    scrollbar-width: thin;
    margin-right: 20px;
    .all-games-btn {
      max-height: 70px;
      height: 70px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
        filter: invert(100%);
      }
    }
    
  }
  .all-games-btn {
    height: 100%
  }
  .gameBar {
    @include themeTransparent();
    @include border();
    @include flexRow();
    .gameBar::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    align-self: flex-start;
    flex-wrap: nowrap;
    height: 70px;

    figure {
      margin: 0;
      @include flexCol();
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 4px 20px;
      img {
      width: 40px;
      }
    }
  }
}

figure:hover {
  @include hoverStyle();
}

.allGames:hover {
  @include hoverStyle();
}


// Main App Section
.main {
  @include border();
  @include margin();
  @include flexRow();
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 0.9fr 1.5fr 0.6fr; 
    grid-template-rows: 1.7fr; 
    gap: 0px 20px; 
    grid-template-areas: 
      ". . .";
      
  .current-game {
    .btn-wrapper {
      @include flexRow();
    }
    .btn-large {
      padding: 13px 100px;
      background-color: $accentColour;
      font-size: 20px;
      @include border();
      outline: none;
      cursor: pointer;
      border: none;
      font-weight: bolder;
    }
    .btn-large:hover {
      @include hoverStyle()
    }
    .btn-icon {
      margin-left: 3px;
      padding: 13px 10px;
      @include border();
      background-color: $accentColour;
      font-size: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
       img {
        filter: invert(1);
        width: 20px;
     }
    }
    .btn-icon:hover {
      @include hoverStyle()
    }
  
    
  }
  .news-section {

  }
  .friends-list {

  }
  

}

// Media Queries

@media screen and (min-width: 320px ) and (max-width: 800px) {
  h3 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  .userDetails {
    p {
      font-size: calc(16px + -3 * ((100vw - 320px) / 680));
    }
  }
  .main {
    @include flexCol();
    }
    .news-section {
  
    }
    .friends-list {
  
    }
    
  
  }
  


@media screen and (min-width: 1000px) {
  h3 {
    font-size: 2rem;

  }
  

  .userDetails {
    p {
      font-size: 1rem;
    }
  }
}


// Keyframes
// Scrollbar 
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(24, 18, 117, 1)
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 1px;
  width: 1px;
  background: $shadowColour;
}
