@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;400;700&display=swap');


// Colour variables.
$backgroundColour: #000000;
$accentColour: #C6CA53;
$textPrimary: #ffffff;

// Mixins
@mixin themePrimary {
  background-color: $backgroundColour;
  color: $textPrimary;
}

@mixin fontPrimary {
  font-family: 'Red Hat Mono', monospace;
}


@mixin themeAccent {
  background-color: $accentColour;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin margin {
  margin: 2% 5%;
}

@mixin padding {
  padding: 2% 0%;
}


// Global Stylings
body {
  @include fontPrimary();
  @include themePrimary();
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

// Component Stylings

.container {
  width: 100%;
}

.brand {
  width: 100%;
  @include flexRow();
  .topbar {
    @include flexRow();
    @include margin();
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }

}

// Media Queries

@media screen and (min-width: 320px) {
  h3 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    .brand-jap {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }

}
@media screen and (min-width: 1000px) {
  h3 {
    font-size: 2rem;

  }
}
