@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');


// Colour variables.
$backgroundColour: #1e1f20;
$shadowOpaque: #1e1f20ec;
$accentColour: #2381fc;
$accentDarkColour: #a53e3e;
$highlightColour: #6ba9fa;
$shadowColour: #002E4E;
$textPrimary: #ffffff;
$opaqueHighlight: #ffffff27;
$darkerShadow: #0000003b;

// Mixins
@mixin themePrimary {
  background-color: $backgroundColour;
  color: $textPrimary;
}

@mixin themeTransparent {
  background-color: #ffffff27;
}



@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin margin {
  margin: 1% 2%;
}

@mixin padding {
  padding: 5px 10px;
}

@mixin border{
  border-radius: 5px;
}

@mixin hoverStyle {
  background-color: $highlightColour;
  transition-duration: 200ms;
  cursor: pointer;
}

@mixin fontOveride {
  font-family: 'Outfit', sans-serif;
}


// Global Stylings
body, button {
  font-family: 'Outfit', sans-serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}
html {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

p {
  font-weight: lighter;
}

ul {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
// Component Stylings

.container {
  width: 100%;
}

.popup-container {
  width: 100%;
  height: 120%;
  z-index: 2;
  position: absolute;
  background-color: $shadowOpaque;
  @include flexRow();
  align-items: center;
  justify-content: center;
  .popup-menu {
      @include border();
      padding: 1px 20px;
      width: 40%;
      height: 50%;
      background-color: $accentColour;

      .popup-header {
        @include flexRow();
        justify-content: space-between;
        h1 {
          font-size: 1.2rem;
        }
      }
      .btn-close {
        background-color: $accentColour;
        font-weight: bold;
        font-size: 2rem;
        border: none;
        cursor: pointer;
      }
  }

}
// Navigation Bar
.brand {
  width: 100%;
  @include flexRow();
  .topbar {
    @include flexRow();
    margin: 0% 2%;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .userDetails {
      @include flexRow();
      @include padding();
      @include border();
      margin: 5px;
      button {
        @include padding();
        @include hoverStyle();
        margin: 10px;
        border: 0px;
        
      }
    }

  }

}

// Gamebar 
.gamebar-parent {

  @include margin();
  @include flexRow();
  align-items: center;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: thin;
  .allgames {
    @include themeTransparent();
    @include border();
    @include flexRow();
    align-items: center;
    justify-content: center;
    width: 5%;
    min-width: 100px;
    height: 100%;
    justify-content: flex-end;
    height: 70px;
    scrollbar-width: thin;
    margin-right: 20px;
    .all-games-btn {
      max-height: 70px;
      height: 70px;
      
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 20px;
        filter: invert(100%);
      }
    }
    
  }
  .all-games-btn {
    height: 100%;
    z-index: 1;
  }
  .gameBar {
    @include themeTransparent();
    @include border();
    @include flexRow();
    .gameBar::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: stretch;
    align-self: flex-start;
    flex-wrap: nowrap;
    height: 70px;

    .add-game {
      filter: invert(100);
    }

    figure {
      margin: 0;
      @include flexCol();
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 4px 20px;
      img {
      width: 40px;
      }
    }
  }
}

figure:hover {
  @include hoverStyle();
}

.allGames:hover {
  @include hoverStyle();
}


// Main App Section
.main {
  @include border();
  @include margin();
  @include flexRow();
    display: grid; 
    grid-auto-flow: column; 
    grid-template-columns: 0.5fr 1.5fr 0.6fr; 
    grid-template-rows: 1.7fr; 
    gap: 0px 20px; 
    grid-template-areas: 
      ". . .";
      
  .current-game {
    height: 650px;
    @include flexCol();
    justify-content: space-between;

    .game-play-top {
      img {
        width: 100%;
        margin-top: 30px;
      }
    }

    .game-play-bottom {
      select {
        @include themeTransparent();
        @include fontOveride();
        @include border();
        font-size: 1rem;
        border: none;
        padding: 10px 20px;
        margin-bottom: 10px;
        width: 75%;
        color: white;
        font-weight: bold;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        option {
          @include padding();
          margin: 10px;
          background-color: $backgroundColour;
          color: white;
        }
      }
    }


    .btn-wrapper {
      @include flexRow();
    }
    .btn-large {
      padding: 13px 100px;
      background-color: $accentColour;
      font-size: 20px;
      @include border();
      outline: none;
      cursor: pointer;
      border: none;
      font-weight: bolder;
    }
    .btn-large:hover {
      @include hoverStyle()
    }
    .btn-icon {
      margin-left: 3px;
      padding: 13px 10px;
      @include border();
      background-color: $accentColour;
      font-size: 20px;
      border: none;
      outline: none;
      cursor: pointer;
      display: flex;
      align-items: center;
       img {
        filter: invert(1);
        width: 20px;
        height: 20px;
     }
    }
    .btn-icon:hover {
      @include hoverStyle()
    }
  
    
  }
  .news-section {
    @include border();
    @include padding();
    .news-article {
      margin-bottom: 20px;
      @include border();
      background-color: $darkerShadow;
      @include flexRow();
      img {
        width: 30%;
      }
      figcaption {
        h4 {
          margin-bottom: 10px;
        }
        @include margin();
        width: 70%;
        @include flexCol();
        justify-content: center;
        
      }
      button {
        width: 50%;
        background-color: $accentColour;
        border: none;
        @include border();
        font-weight: bold;
        padding: 5px;
        cursor: pointer;
      }
    }

 

  }


  .friends-list {
    @include flexCol();
    @include border();
    @include padding();
    
    .friend-card {
      @include padding();
      @include border();
      margin-bottom: 10px;
      background-color: $darkerShadow;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      @include flexRow();
      img {
        margin-right: 20px;
        @include border();
        width: 50px;
        height: 50px;
      }
      h3, p {
        margin: 0;
        font-size: 1.2rem;
      }
      
    }
  }
  

}

// Media Queries

@media screen and (min-width: 320px ) and (max-width: 800px) {
  h3 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
  p {
    font-size: calc(16px + -3 * ((100vw - 320px) / 680));
  }
  .userDetails {

  }
  .main {
    @include flexCol();
    }
    .news-section {
  
    }
    .friends-list {
      .friend-card {
        background-color: $darkerShadow;
        height: 200px;
      }
  
    }
    
  
  }
  
  @media screen and (max-width: 1100px) {
    h3 {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    p {
      font-size: calc(16px + -3 * ((100vw - 320px) / 680));
    }
    .userDetails {
  
    }
    .main {
      @include flexCol();
      }

      .current-game {
        .game-play-top {
          @include flexCol();
          justify-content: center;
          align-items: center;
          img {
            max-width: 50%;
          }
        }
        .game-play-bottom {
          select {
            max-width: 50%;
          }
          @include flexCol();
          justify-content: center;
          align-items: center;
        }
      }
      .news-section {
    
      }
      .friends-list {
        .friend-card {
          background-color: $darkerShadow;
          height: 200px;
        }
    
      }
      
    
    }
    

@media screen and (min-width: 1100px) {
  h3 {
    font-size: 2rem;

  }



  .news-section {
    @include flexCol();
  }
  

  .userDetails {
    p {
      font-size: 1rem;
    }
  }
}


// Keyframes
// Scrollbar 
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backgroundColour;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 1px;
  width: 1px;
  background: $accentColour;
}

